
@{
    ViewData["Title"] = "Home Page";
}

<div class="card mt-5">
    <div class="card-header text-center">
        <h4>Random Generator</h4>
    </div>
    <div class="card-body text-center">
        <a asp-controller="Home" asp-action="Generate" class="btn btn-success" id="generateButton">Generate</a>
    </div>
</div>